-
    var post = [
        {
            id: 1,
            author: "Anthony Daugloi",
            create_At: "2 hour ago",
            avatar: "http://uitheme.net/sociala/images/user-8.png",
            img_post: [
                {
                    src: "http://uitheme.net/sociala/images/t-21.jpg",
                }
            ],
            content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nulla dolor, ornare at commodo non, feugiat non nisi. Phasellus faucibus mollis pharetra. Proin blandit ac massa sed rhoncus ",
            like: "2.8K",
            comment: "22"

        
        },
          {
              id:2,
            author: "Anthony Daugloi",
            create_At: "2 hour ago",
            avatar: "http://uitheme.net/sociala/images/user-8.png",
            img_post: [
                {
                    src: "http://uitheme.net/sociala/images/t-21.jpg",
                },
                {
                    src: "http://uitheme.net/sociala/images/t-22.jpg",
                }
            ],
            content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nulla dolor, ornare at commodo non, feugiat non nisi. Phasellus faucibus mollis pharetra. Proin blandit ac massa sed rhoncus ",
            like: "2.8K",
            comment: "22"

        
        },
          {
              id:3,
            author: "Anthony Daugloi",
            create_At: "2 hour ago",
            avatar: "http://uitheme.net/sociala/images/user-8.png",
              img_post: [
                {
                    src: "http://uitheme.net/sociala/images/t-21.jpg",
                },
                {
                    src: "http://uitheme.net/sociala/images/t-22.jpg",
                },
                {
                    src: "http://uitheme.net/sociala/images/t-22.jpg",
                },
                {
                    src: "http://uitheme.net/sociala/images/t-24.jpg",
                },
                {
                    src: "http://uitheme.net/sociala/images/t-22.jpg",
                },
                {
                    src: "http://uitheme.net/sociala/images/t-22.jpg",
                }
            ],
            content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nulla dolor, ornare at commodo non, feugiat non nisi. Phasellus faucibus mollis pharetra. Proin blandit ac massa sed rhoncus ",
            like: "2.8K",
            comment: "22"

        
        },
         {
              id:3,
            author: "Anthony Daugloi",
            create_At: "2 hour ago",
            avatar: "http://uitheme.net/sociala/images/user-8.png",
              img_post: [  ],
            content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nulla dolor, ornare at commodo non, feugiat non nisi. Phasellus faucibus mollis pharetra. Proin blandit ac massa sed rhoncus ",
            like: "2.8K",
            comment: "22"

        
        }
    ]

- 
    var socialsNewFeed = [{icon: "fas fa-tv", content: "Newsfeed"},{icon: "fas fa-award", content: "Badges"},{icon: "fas fa-globe", content: "Explore Stories"},{icon: "fas fa-bolt", content: "Popular Groups"},{icon: "far fa-user", content: "Author Profile"}]
-
    var socialsMorePage = [{icon: "far fa-envelope-open", content: "Email Box"},{icon: "fas fa-hotel", content: "Near Hotel"},{icon: "fas fa-map-marker-alt", content: "Latest Event"},{icon: "fab fa-youtube", content: "Live Stream"}]
-
    var socialsAccount = [{icon: "far fa-cog", content: "Settings"},{icon: "fas fa-chart-pie", content: "Analytics"},{icon: "far fa-comment", content: "Chat"}]

-
    var stories =[
        {
            author:"Victor",
            img:"http://uitheme.net/sociala/images/s-1.jpg",
            imgThumbnail: "http://uitheme.net/sociala/images/user-11.png",
        },
          
        {
            author:"Victor",
            img:"http://uitheme.net/sociala/images/story-5.jpg",
            imgThumbnail: "http://uitheme.net/sociala/images/user-2.png",
            
        },
        {
            author:"Sufiar Zakir",
            img:"http://uitheme.net/sociala/images/s-1.jpg",
            imgThumbnail: "http://uitheme.net/sociala/images/user-11.png",
        },
        {
            author:"Victor",
            img:"http://uitheme.net/sociala/images/story-5.jpg",
            imgThumbnail: "http://uitheme.net/sociala/images/user-2.png",
            
        },
        {
            author:"Sufiar Zakir",
            img:"http://uitheme.net/sociala/images/s-1.jpg",
            imgThumbnail: "http://uitheme.net/sociala/images/user-11.png",
        },
        {
            author:"Sufiar Zakir",
            img:"http://uitheme.net/sociala/images/s-1.jpg",
            imgThumbnail: "http://uitheme.net/sociala/images/user-11.png",
        }, 
        {
            author:"Sufiar Zakir",
            img:"http://uitheme.net/sociala/images/s-1.jpg",
            imgThumbnail: "http://uitheme.net/sociala/images/user-11.png",
        },
        {
            author:"Sufiar Zakir",
            img:"http://uitheme.net/sociala/images/s-1.jpg",
            imgThumbnail: "http://uitheme.net/sociala/images/user-11.png",
        }
    ]
-
    var live = [
        {
            img: "http://uitheme.net/sociala/images/u-bg.jpg",
            avatar:"http://uitheme.net/sociala/images/user-11.png",
            email:"example@gmail.com",
            author: "Aliqua Macale"
        },
        {
            img: "http://uitheme.net/sociala/images/s-2.jpg",
            avatar:"http://uitheme.net/sociala/images/user-2.png",
            email:"example@gmail.com",
            author: "Seary Victor"
        },
        {
            img: "http://uitheme.net/sociala/images/s-6.jpg",
            avatar:"http://uitheme.net/sociala/images/user-3.png",
            email:"example@gmail.com",
            author: "Aliqua Macale"
        },
        {
            img: "http://uitheme.net/sociala/images/u-bg.jpg",
            avatar:"http://uitheme.net/sociala/images/user-11.png",
            email:"example@gmail.com",
            author: "Seary Victor"
        },
        {
            img: "http://uitheme.net/sociala/images/u-bg.jpg",
            avatar:"http://uitheme.net/sociala/images/user-3.png",
            email:"example@gmail.com",
            author: "Aliqua Macale"
        },
        {
            img: "http://uitheme.net/sociala/images/u-bg.jpg",
            avatar:"http://uitheme.net/sociala/images/user-11.png",
            email:"example@gmail.com",
            author: "Seary Victor"
        },
        {
            img: "http://uitheme.net/sociala/images/u-bg.jpg",
            avatar:"http://uitheme.net/sociala/images/user-11.png",
            email:"example@gmail.com",
            author: "Aliqua Macale"
        },
        
    ]

- 
    follow = [
        {
            author: "Richard Bower",
            avatar: "http://uitheme.net/sociala/images/user-11.png",
            userName: "@macaler342"
        },
        {
            author: "Vicent Pakrs",
            avatar: "http://uitheme.net/sociala/images/user-9.png",
            userName: "@macaler342"
        },
        {
            author: "David Gueta",
            avatar: "http://uitheme.net/sociala/images/user-12.png",
            userName: "@macaler342"
        },
        {
            author: "David Gueta",
            avatar: "http://uitheme.net/sociala/images/user-11.png",
            userName: "@macaler342"
        },
        {
            author: "Richard Bower",
            avatar: "http://uitheme.net/sociala/images/user-11.png",
            userName: "@macaler342"
        },
        {
            author: "David Gueta",
            avatar: "http://uitheme.net/sociala/images/user-12.png",
            userName: "@macaler342"
        },
        {
            author: "Richard Bower",
            avatar: "http://uitheme.net/sociala/images/user-11.png",
            userName: "@macaler342"
        },
    ]
- 
    var posts = [
        {
            id: 1, 
            author: "Surfiya Zakir", 
            avatar:"http://uitheme.net/sociala/images/user-7.png",
            create_At: "2 hour ago",
            desc:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
            like:"2.9k",
            comment:"22",
            image:[
                {
                    src:"http://uitheme.net/sociala/images/t-10.jpg", alt:"anh"
                },
                {
                    src:"http://uitheme.net/sociala/images/t-11.jpg ", alt:"anh"
                },
                {
                    src:"http://uitheme.net/sociala/images/t-12.jpg", alt:"anh"
                }
            ]
        },
           {
            id:2, 
            author: "Goria Coast", 
            avatar:"http://uitheme.net/sociala/images/user-7.png",
            create_At: "2 hour ago",
            desc:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
            like:"2.9k",
            comment:"22",
            image:[
                {
                    src:"http://uitheme.net/sociala/images/t-21.jpg", alt:"anh"
                },
                {
                    src:"http://uitheme.net/sociala/images/t-22.jpg", alt:"anh"
                },
                {
                    src:"http://uitheme.net/sociala/images/t-22.jpg", alt:"anh"
                },
                {
                    src:"http://uitheme.net/sociala/images/t-22.jpg", alt:"anh"
                },
                {
                    src:"http://uitheme.net/sociala/images/t-22.jpg", alt:"anh"
                },
               
            ]
        },
           {
            id:3, 
            author: "Surfiya Zakir", 
            avatar:"http://uitheme.net/sociala/images/user-8.png",
            create_At: "2 hour ago",
            desc:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
            like:"2.9k",
            comment:"22",
            image:[]
        },
           {
            id:4, 
            author: "Surfiya Zakir", 
            avatar:"http://uitheme.net/sociala/images/user-8.png",
            create_At: "2 hour ago",
            desc:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
            like:"2.9k",
            comment:"22",
            image:[
                {
                    src:"http://uitheme.net/sociala/images/t-10.jpg", alt:"anh"
                }
            ]
        },
           {
            id:5, 
            author: "Surfiya Zakir", 
            avatar:"http://uitheme.net/sociala/images/user-8.png",
            create_At: "2 hour ago",
            desc:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
            like:"2.9k",
            comment:"22",
            image:[
                {
                    src:"http://uitheme.net/sociala/images/t-10.jpg", alt:"anh"
                },
                {
                    src:"http://uitheme.net/sociala/images/t-11.jpg ", alt:"anh"
                },
                {
                    src:"http://uitheme.net/sociala/images/t-12.jpg", alt:"anh"
                },
            ]
        },
    ];

-
    var friend = [
        {
            avatar: "http://uitheme.net/sociala/images/user-7.png",
            author: "Anthony Daugloi",
            mutualFriends: "12 mutual friends"
        },
        {
            avatar: "http://uitheme.net/sociala/images/user-8.png",
            author: "Mohannad Zitoun",
            mutualFriends: "12 mutual friends"
        },
        {
            avatar: "http://uitheme.net/sociala/images/user-12.png",
            author: "Mohannad Zitoun",
            mutualFriends: "12 mutual friends"
        },
    ];

-
    var suggestGroup = [
        {
            thumbnail: "http://uitheme.net/sociala/images/e-2.jpg",
            author: [
                {
                    img:"http://uitheme.net/sociala/images/user-6.png"
                },
                {
                    img:"http://uitheme.net/sociala/images/user-7.png"
                },
                {
                    img:"http://uitheme.net/sociala/images/user-8.png"
                },
                {
                    img:"http://uitheme.net/sociala/images/user-3.png"
                },
            ]
        },
        
    ];
-
    var Event = [
        {
            day:"22",
            month:"feb",
            title: "Meeting with clients",
            content: "41 madison ave, floor 24 new work, NY 10010"
        },
        {
            day:"30",
            month:"apr",
            title: "Developer Programe",
            content: "41 madison ave, floor 24 new work, NY 10010"
        },
        {
            day:"23",
            month:"apr",
            title: "Aniversary Event",
            content: "41 madison ave, floor 24 new work, NY 10010"
        },
    ]
